@charset "utf-8";

$primary: #009bf7;
$primaryLight: #e1f3fe;
$second: #caab75;
$danger: #ff3535;
$colorBorder: #e2e2e2;

@import "d:/wamp/www/mobile-docs/src/sass/sandal/function";

body {
  background: #f6f9fa;
}

/* 小图标 */
.icon { display: inline-block; vertical-align: middle; background: url("../images/icon-sprites.png") no-repeat top left; zoom: .5;  } 
.icon-home { background-position: 0px 0px; width: 36px; height: 36px;  } 
.active .icon-home { background-position: 0px -46px; width: 36px; height: 35px;  } 
.icon-desktop { background-position: 0px -91px; width: 34px; height: 37px;  } 
.active .icon-desktop { background-position: 0px -138px; width: 34px; height: 38px;  } 
.icon-buy { background-position: 0px -186px; width: 30px; height: 33px;  } 
.active .icon-buy { background-position: 0px -229px; width: 30px; height: 34px;  } 
.icon-my { background-position: 0px -273px; width: 47px; height: 34px;  } 
.active .icon-my { background-position: 0px -317px; width: 48px; height: 34px;  } 
.icon-qianbao { background-position: 0px -361px; width: 40px; height: 28px;  } 
.icon-msg { background-position: 0px -399px; width: 42px; height: 34px;  } 
.icon-money { background-position: 0px -443px; width: 36px; height: 38px;  } 
.icon-search { background-position: 0px -491px; width: 31px; height: 31px;  } 
.icon-search2 { background-position: 0px -532px; width: 34px; height: 34px;  } 
.icon-article { background-position: 0px -576px; width: 106px; height: 106px;  } 
.icon-video { background-position: 0px -692px; width: 106px; height: 106px;  } 
.icon-ask { background-position: 0px -808px; width: 106px; height: 106px;  } 
.icon-book { background-position: 0px -924px; width: 106px; height: 106px;  } 
.icon-play { background-position: 0px -1040px; width: 12px; height: 14px;  } 
.icon-gou { background-position: 0px -1064px; width: 14px; height: 12px;  } 
.icon-man { background-position: 0px -1086px; width: 18px; height: 18px;  } 
.icon-heart { background-position: 0px -1114px; width: 34px; height: 30px;  } 
.icon-zan { background-position: 0px -1154px; width: 38px; height: 36px;  } 
.icon-comment { background-position: 0px -1200px; width: 38px; height: 36px;  } 
.icon-clock { background-position: 0px -1246px; width: 20px; height: 20px;  } 

/* 标签 */
.mod-label {
  position: relative;
  display: inline-block;
  width: 28px;
  padding: 6px 0;
  font-size: 12px;
  color: #fff;
  text-align: center;
  background: $primary;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  &:after {
    position: absolute;
    top: 0;
    right: -3px;
    width: 0;
    height: 0;
    border-right: 3px solid transparent;
    border-bottom: 5px solid #0078bf;
    content: "";
  }

  &--gradient {
    background: linear-gradient(#5f8cff, #85b2ff);
  }

  &--brown-gradient {
    padding: 4px 0;
    font-size: 10px;
    line-height: 12px;
    background: linear-gradient(#d7b581, #e2d4bf);

    &:after {
      border-bottom-color: #88704b;
    }
  }
}

.mod-tag {
  display: inline-block;
  height: 20px;
  line-height: 18px;
  padding: 0 5px;
  font-size: 12px;
  color: #fff;
  border-radius: 15px;
  background: $primary;
  border: 1px solid $primary;

  &--brown {
    color: #a98a54;
    border-color: #e5ca9a;
    background: linear-gradient(#f9e6cb, #e5ca9a);
  }

  &--blue {
    border-color: #3d7ca1;
    background: linear-gradient(#5595ba, #3d7ca1);
  }

  &__inner {
    display: inline-block;
    transform: scale(.95);
  }
}

/* swiper tab */
.mbui-swiper-tab-tle {
  &--auto {
    .swiper-slide {
      width: auto;
      padding: 0 10px;
      margin-right: 30px;
    }
  }

  &--dark {
    background: #2b2c34;
    color: #9b9ca5;
  }
}

.mbui-swiper-tab-tle .swiper-slide.active:after {
  left: 50%;
  right: auto;
  width: 30px;
  height: 3px;
  border-radius: 10px;
  transform: translate(-50%, 0);
}

/* 暂无数据 */
.mod-no-data {
  padding: 30px;
  font-size: 12px;
  color: #999;
  text-align: center;
}

/* 搜索 */
.mod-search {
}

.mod-search-block {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  background: #eee;
  border-radius: 20px;
  text-align: center;

  .icon {
    margin: 0 10px 0 0;
  }

  &__txt {
    font-size: 12px;
    color: #919191;
  }

  &__input {
    display: none;
  }

  &.active {
    display: flex;
    align-items: center;
    text-align: left;

    .mod-search-block__txt {
      display: none;
    }

    .mod-search-block__input {
      display: block;
      flex: 1;
      overflow: hidden;
    }
  }
}