@charset "utf-8";

$primary: #009bf7;
$primaryLight: #e1f3fe;
$second: #caab75;
$danger: #ff3535;
$colorBorder: #e2e2e2;

@import "d:/wamp/www/mobile-docs/src/sass/sandal/function";

body {
  background: #f6f9fa;
}

/* 小图标 */
.icon { background: url("../images/icon-sprites.png") no-repeat top left; zoom: .5;  } 
.icon-home { background-position: 0px 0px; width: 36px; height: 36px;  } 
.active .icon-home { background-position: 0px -46px; width: 36px; height: 35px;  } 
.icon-desktop { background-position: 0px -91px; width: 34px; height: 37px;  } 
.active .icon-desktop { background-position: 0px -138px; width: 34px; height: 38px;  } 
.icon-buy { background-position: 0px -186px; width: 30px; height: 33px;  } 
.active .icon-buy { background-position: 0px -229px; width: 30px; height: 34px;  } 
.icon-my { background-position: 0px -273px; width: 47px; height: 34px;  } 
.active .icon-my { background-position: 0px -317px; width: 48px; height: 34px;  } 
.icon-qianbao { background-position: 0px -361px; width: 40px; height: 28px;  } 
.icon-msg { background-position: 0px -399px; width: 42px; height: 34px;  } 
.icon-money { background-position: 0px -443px; width: 36px; height: 38px;  } 
.icon-search { background-position: 0px -491px; width: 31px; height: 31px;  } 
.icon-search2 { background-position: 0px -532px; width: 34px; height: 34px;  } 
.icon-article { background-position: 0px -576px; width: 106px; height: 106px;  } 
.icon-video { background-position: 0px -692px; width: 106px; height: 106px;  } 
.icon-ask { background-position: 0px -808px; width: 106px; height: 106px;  } 
.icon-book { background-position: 0px -924px; width: 106px; height: 106px;  } 
.icon-play { background-position: 0px -1040px; width: 12px; height: 14px;  } 
.icon-gou { background-position: 0px -1064px; width: 14px; height: 12px;  } 
.icon-man { background-position: 0px -1086px; width: 18px; height: 18px;  } 
.icon-heart { background-position: 0px -1114px; width: 34px; height: 30px;  } 
.icon-zan { background-position: 0px -1154px; width: 38px; height: 36px;  } 
.icon-comment { background-position: 0px -1200px; width: 38px; height: 36px;  } 
.icon-clock { background-position: 0px -1246px; width: 20px; height: 20px;  } 