@charset "utf-8";

$primary: #009bf7;
$primaryLight: #e1f3fe;
$second: #caab75;
$danger: #ff3535;
$colorBorder: #e5e5e5;

@import "d:/wamp/www/mobile-docs/src/sass/sandal/function";

body {
  background: #f6f9fa;
}

/* 小图标 */
.icon {
  display: inline-block;
  vertical-align: middle;
  background: url("../images/icon-sprites.png") no-repeat top left;
  zoom: 0.5;
}
.icon-home {
  background-position: 0px 0px;
  width: 36px;
  height: 36px;
}
.active .icon-home {
  background-position: 0px -46px;
  width: 36px;
  height: 35px;
}
.icon-desktop {
  background-position: 0px -91px;
  width: 34px;
  height: 37px;
}
.active .icon-desktop {
  background-position: 0px -138px;
  width: 34px;
  height: 38px;
}
.icon-buy {
  background-position: 0px -186px;
  width: 30px;
  height: 33px;
}
.active .icon-buy {
  background-position: 0px -229px;
  width: 30px;
  height: 34px;
}
.icon-my {
  background-position: 0px -273px;
  width: 47px;
  height: 34px;
}
.active .icon-my {
  background-position: 0px -317px;
  width: 48px;
  height: 34px;
}
.icon-qianbao {
  background-position: 0px -361px;
  width: 40px;
  height: 28px;
}
.icon-msg {
  background-position: 0px -399px;
  width: 42px;
  height: 34px;
}
.icon-money {
  background-position: 0px -443px;
  width: 36px;
  height: 38px;
}
.icon-search {
  background-position: 0px -491px;
  width: 31px;
  height: 31px;
}
.icon-search2 {
  background-position: 0px -532px;
  width: 34px;
  height: 34px;
}
.icon-article {
  background-position: 0px -576px;
  width: 106px;
  height: 106px;
}
.icon-video {
  background-position: 0px -692px;
  width: 106px;
  height: 106px;
}
.icon-ask {
  background-position: 0px -808px;
  width: 106px;
  height: 106px;
}
.icon-book {
  background-position: 0px -924px;
  width: 106px;
  height: 106px;
}
.icon-play {
  background-position: 0px -1040px;
  width: 12px;
  height: 14px;
}
.icon-gou {
  background-position: 0px -1064px;
  width: 14px;
  height: 12px;
}
.icon-man {
  background-position: 0px -1086px;
  width: 18px;
  height: 18px;
}
.icon-heart {
  background-position: 0px -1114px;
  width: 34px;
  height: 30px;
}
.active .icon-heart {
  background-position: -43px -1114px;
}
.icon-zan {
  background-position: 0px -1154px;
  width: 38px;
  height: 36px;
}
.active .icon-zan {
  background-position: -48px -1154px;
}
.icon-comment {
  background-position: 0px -1200px;
  width: 38px;
  height: 36px;
}
.icon-clock {
  background-position: 0px -1246px;
  width: 20px;
  height: 20px;
}
.icon-calendar {
  width: 19px;
  height: 19px;
  background-position: 0 -1276px;

  &--white {
    width: 23px;
    height: 23px;
    background-position: -29px -1272px;
  }
}
.icon-loc {
  width: 16px;
  height: 23px;
  background-position: 0 -1305px;
}
.icon-user {
  width: 24px;
  height: 27px;
  background-position: 0 -1338px;
}
.icon-mobile {
  width: 21px;
  height: 31px;
  background-position: 0 -1375px;
}
.icon-safe {
  width: 22px;
  height: 27px;
  background-position: 0 -1416px;
}

/* 标签 */
.mod-label {
  position: relative;
  display: inline-block;
  width: 28px;
  padding: 6px 0;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  background: $primary;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  &:after {
    position: absolute;
    top: 0;
    right: -3px;
    width: 0;
    height: 0;
    border-right: 3px solid transparent;
    border-bottom: 5px solid #0078bf;
    content: "";
  }

  &--gradient {
    background: linear-gradient(#5f8cff, #85b2ff);
  }

  &--brown-gradient {
    padding: 4px 0;
    font-size: 10px;
    line-height: 12px;
    background: linear-gradient(#d7b581, #e2d4bf);

    &:after {
      border-bottom-color: #88704b;
    }
  }
}

.mod-tag {
  display: inline-block;
  height: 16px;
  line-height: 14px;
  padding: 0 3px;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  border-radius: 15px;
  background: $primary;
  border: 1px solid $primary;

  &--brown {
    color: #a98a54;
    border-color: #e5ca9a;
    background: linear-gradient(#f9e6cb, #e5ca9a);
  }

  &--blue {
    border-color: #3d7ca1;
    background: linear-gradient(#5595ba, #3d7ca1);
  }

  &__inner {
    display: inline-block;
    transform: scale(0.95);
  }
}

/* swiper tab */
.mbui-swiper-tab-tle {
  &--auto {
    .swiper-slide {
      width: auto;
      padding: 0 10px;
      margin-right: 30px;
    }
  }

  &--dark {
    background: #2b2c34;
    color: #9b9ca5;
  }
}

.mbui-swiper-tab-tle .swiper-slide.active:after {
  left: 50%;
  right: auto;
  width: 30px;
  height: 3px;
  border-radius: 10px;
  transform: translate(-50%, 0);
}

/* 暂无数据 */
.mod-no-data {
  padding: 30px;
  font-size: 12px;
  color: #999;
  text-align: center;
}

/* 搜索 */
.mod-search-block {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  background: #eee;
  border-radius: 20px;
  text-align: center;

  .icon {
    margin: 0 10px 0 0;
  }

  &__txt {
    font-size: 12px;
    color: #919191;
  }

  &__input {
    display: none;
  }

  &.active {
    @extend %flex;
    @extend %flex-v-c;
    text-align: left;

    .mod-search-block__txt {
      display: none;
    }

    .mod-search-block__input {
      display: block;
      flex: 1;
      overflow: hidden;
    }
  }
}

/* 文章列表 */
.news-item {
  @extend %flex;

  .news-list & {
    &:not(:first-of-type) {
      padding: 15px 0 0;
      margin: 15px 0 0;
      @extend %border-t;
    }
  }

  &__img {
    width: 89px;
    height: 65px;
    margin: 0 10px 0 0;
    overflow: hidden;
  }

  &__bd {
    @extend %flex1;
    overflow: hidden;

    &-tle {
      @extend %ellipsis;
    }

    &-txt,
    &-date {
      margin: 4px 0 0;
      font-size: 12px;
      color: #8e8e8e;
      @extend %ellipsis;
    }
  }
}

.news-list--lg {
  .news-item {
    &__img {
      width: 120px;
      height: 90px;
    }

    &__bd {
      &-txt {
        max-height: 36px;
        white-space: normal;
        @extend %ellipsis-lines-2;
      }

      &-date {
        margin: 10px 0 0;
      }
    }
  }
}

/* 用户媒体对象 */
.mod-user-media {
  display: flex;

  &--lg {
    .mod-user-media__side {
      width: 50px;

      .mums-img {
        width: 50px;
        height: 50px;
      }
    }
  }

  &__side {
    position: relative;
    width: 40px;
    margin: 0 10px 0 0;

    .mums-img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid $colorBorder;
    }
  }

  &__main {
    flex: 1;
    overflow: hidden;

    .mumm-name {
      &-inner {
        display: inline-block;
        max-width: 10em;
        vertical-align: middle;
        @extend %ellipsis;
      }
    }

    .mumm-date {
      float: right;
      font-size: 12px;
      font-weight: 400;
      color: #949494;
    }

    .mumm-txt {
      max-height: 36px;
      margin: 5px 0 0;
      overflow: hidden;
      font-size: 12px;
      color: #545454;
      @extend %ellipsis-lines-2;

      &--more {
        display: block;
        max-height: unset;
      }
    }

    .mumm-more {
      display: block;
      margin: 5px 0 0;
      font-size: 12px;
      color: #b4b4b4;
    }
  }
}

/* 消息列表 */
.mod-msg {
  &-list {
    &--has-bd {
      .mod-msg-item {
        &:not(:first-of-type) {
          padding: 15px 0 0;
          @extend %border-t;
        }
      }
    }
  }

  &-item {
    &:not(:first-of-type) {
      margin: 15px 0 0;
    }

    &__comment {
      position: relative;
      margin: 10px 0 0 50px;
      padding: 10px 8px;
      background: #efefef;
      border-radius: 4px;

      &:before {
        position: absolute;
        top: -5px;
        left: 10px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #efefef;
        content: "";
      }

      .mmic-item {
        font-size: 12px;

        &:not(:first-of-type) {
          margin: 5px 0 0;
        }

        &-name {
          color: #617e90;
        }
      }
    }
  }
}

/* banner */
.swiper-banner {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1px 9px rgba(29, 149, 221, 0.5);
}

/* 标题 */
.mod-tle {
  @extend %flex;
  @extend %flex-s-b;
  height: 42px;
  line-height: 42px;

  &-txt {
    font-size: 16px;
    line-height: 42px;
    font-weight: 700;
  }

  &-more {
    font-size: 12px;
    color: #aaa;
  }

  &-2 {
    height: 28px;
    line-height: 26px;
    padding: 0 23px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 700;
    color: $primary;
    background: #eef8ff;
    border: 1px solid $primary;
  }
}

/* 课程 */
.mod-course {
  overflow: hidden;

  &-list {
    &--lg {
      .mod-course-item__img {
        padding: 42% 0 0;
      }
    }

    &--col-2 {
      margin: 0 -10px -10px 0;
      padding: 5px 0 0;

      .mod-course {
        &-item {
          float: left;
          width: calc(50% - 10px);
          margin: 0 10px 10px 0;

          &:not(:first-of-type) {
            margin-top: 0;
          }

          &__img {
            padding: 57% 0 0;
          }
        }
      }
    }
  }

  &-item {
    position: relative;

    &:not(:first-of-type) {
      margin: 10px 0 0;
    }

    &__inner {
      overflow: hidden;
      border-radius: 5px;
    }

    &__img {
      padding: 35% 0 0;
      background-position: center top;
    }

    .mod-label {
      position: absolute;
      top: -5px;
      left: 18px;
    }
  }
}

/* 升级 */
.mod-upgrade {
  @extend %flex;
  @extend %flex-v-c;
  padding: 10px 15px;
  border-radius: 5px;
  background: url(../images/upgrade-bg.png) no-repeat;
  background-size: cover;
  border-radius: 5px;

  &-bd {
    @extend %flex1;
    overflow: hidden;
    color: #ac9976;

    &__tle {
      font-size: 13px;
    }

    &__txt {
      font-size: 17px;
      font-weight: 700;
    }
  }
}

/* 步骤条 */
.mod-step {
  &-list {
    position: relative;
    padding: 0 0 0 30px;

    &:before {
      position: absolute;
      top: 10px;
      left: 6px;
      z-index: -1;
      width: 1px;
      height: 100%;
      background: #d2d2d2;
      content: "";
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 6px;
      width: 1px;
      height: 10px;
      background: #fff;
      content: "";
    }
  }

  &-item {
    position: relative;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #939393;

    &.active {
      color: #333;

      &:after {
        background: $primary;
      }
    }

    &:not(:first-of-type) {
      @extend %border-t;
    }

    &:after {
      position: absolute;
      top: 50%;
      left: -30px;
      width: 12px;
      height: 12px;
      background: #dedede;
      border-radius: 50%;
      border: 3px solid #fff;
      box-shadow: 0 1px 4px rgba(202, 202, 202, 0.26);
      content: "";
      transform: translate(0, -50%);
      box-sizing: border-box;
    }
  }
}

.mod-fixed-btn {
  position: fixed;
  bottom: 60px;
  right: 20px;
  z-index: 100;
  display: block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 13px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  background: linear-gradient(lighten($primary, 5%), $primary);
}


/* 单选框、复选框美化 */
.mbui-radio {
  &-inner {
    display: inline-block;
    padding: 4px 20px 1px;
    text-align: center;
    border-radius: 30px;
    border: 1px solid $colorBorder;
  }

  &-txt {
    font-size: 13px;
    line-height: 1.2;
    color: #5f4343;
  }

  &-tag {
    font-size: 12px;
    color: #a4a4a4;
    transform: scale(.8);
  }
}

.mbui-radio-input:checked ~ .mbui-radio-inner {
  border-color: $primary;

  .mbui-radio-txt,
  .mbui-radio-tag {
    color: $primary;
  }
}

.mod-icon-checkbox {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  border: 1px solid $colorBorder;
  vertical-align: middle;
}

.mbui-checkbox-label {
  font-size: 12px;
  color: #656565;
}

.mbui-checkbox-input:checked ~ .mod-icon-checkbox {
  background: $primary;
  border-color: $primary;

  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 2px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    content: "";
    transform: translate(-50%, -70%) rotate(-45deg);
  }
}

/* 上传 */
.mbui-uploader__field, .mbui-uploader__item {
  width: calc(33.333333% - 10px);
  padding: calc(33.333333% - 10px) 0 0;
}

.mbui-uploader__field {
  border: 1px dashed $colorBorder;
  border-radius: 5px;
  background: none;
  padding: calc(33.333333% - 12px) 0 0;
}

/* 商品媒体对象 */
.mod-goods-media {
  @extend %flex;

  &__img {
    width: 77px;
    height: 82px;
    margin: 0 10px 0 0;
    background-color: #fff;
  }

  &__bd {
    @extend %flex1;
    overflow: hidden;

    .mgmb-tle {
      line-height: 1.2;
      height: 32px;
      @extend %ellipsis-lines-2;
    }

    .mgmb-txt,
    .mgmb-price {
      margin: 5px 0 0;
    }

    .mgmb-txt {
      font-size: 12px;
      color: #999;
    }

    .mgmb-price {
      font-size: 16px;
      font-weight: 700;
      color: #ff3535;
    }
  }
}

/* 按钮 */
.mbui-btn-primary--light {
  background: #e1f3fe;
  color: $primary;
  border-color: $primary;

  &:hover {
    background: #e1f3fe;
  }
}

.mbui-media-item {
  &__img {
    width: 50px;
    height: 50px;
  }
}

/* 评论条 */
.mod-comment-bar {
  @extend %flex;
  @extend %flex-v-c;
  padding: 6px 0 6px 10px;
  background: #fff;
  border-top: 1px solid $colorBorder;

  &__field {
    @extend %flex1;
    overflow: hidden;
  }

  &__input {
    width: 100%;
    padding: 10px 15px;
    background: #eee;
    border-radius: 20px;
  }

  &__action {
    position: relative;
    padding: 0 13px;

    .mbui-remind-num {
      top: -10px;
      right: -7px;
    }
  }

  &__btn {
    height: 36px;
    line-height: 36px;
    padding: 0 15px;
  }
}

.mbui-remind-num {
  background: $primary;
}

/* 时间步骤条 */
.mod-time-step {
  font-size: 12px;
  color: #878787;

  &__item {
    position: relative;
    padding: 0 0 0 15px;

    &:before {
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 1;
      width: 7px;
      height: 7px;
      background: #fff;
      border: 2px solid $primary;
      border-radius: 50%;
      box-sizing: border-box;
      content: "";
      transform: translate(0, -50%);
    }

    .mtst-line {
      position: absolute;
      top: -50%;
      left: 3px;
      width: 1px;
      height: 100%;
      background: #d2d2d2;
      content: "";
    }
  }
}

/* 标题 */
.mod-block-tle {
  padding: 0 0 0 15px;
  line-height: 1.2;
  border-left: 2px solid $primary;
}

/* 表单 */
.mod-form {
  &-item {
    @extend %flex;
    @extend %flex-v-c;
    padding: 13px;
    background: #f3f3f3;
    border-radius: 3px;

    &:not(:first-of-type) {
      margin: 10px 0 0;
    }

    &__icon {
      display: block;
      width: 24px;
    }

    &__field {
      @extend %flex1;
      overflow: hidden;
    }
  }
}