@charset "utf-8";

$primary: #009bf7;
$primaryLight: #e1f3fe;
$second: #caab75;
$danger: #ff3535;
$colorBorder: #e5e5e5;

@import "d:/wamp/www/mobile-docs/src/sass/sandal/function";

.course-video {
  position: relative;
  padding-top: 54%;
  overflow: hidden;

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.course-detail {
  position: relative;
  z-index: 1;
  margin: -30px 0 0;
}

.course-info {
  &-tle {
    position: relative;
    padding: 0 0 0 30px;
    font-size: 13px;
    font-weight: 400;
    color: #9e9e9e;

    &:after {
      position: absolute;
      top: 7px;
      left: 0;
      width: 19px;
      height: 254px;
      background: url("../images/tle-line.png") no-repeat;
      background-size: 19px auto;
      content: "";
    }

    &--no-bg {
      padding: 0;

      &:after {
        content: none;
      }
    }
  }

  &-txt {
    font-size: 13px;
    padding: 15px 0 0 10px;
  }
}

.recom-list {
  padding: 0 0 12px 0;
  overflow: hidden;
  white-space: nowrap;
  overflow-x: auto;
  margin: 0 -10px 0 0;
  -webkit-overflow-scrolling: touch;
}

.recom-item {
  position: relative;
  display: inline-block;
  max-width: 135px;
  padding: 10px 5px 25px;
  margin: 0 10px 0 0;
  text-align: center;
  border: 1px solid $colorBorder;
  border-radius: 3px;

  &__img {
    width: 47px;
    height: 47px;
    border-radius: 50%;
  }

  .mbui-btn {
    position: absolute;
    bottom: -12px;
    left: 50%;
    height: 24px;
    line-height: 24px;
    transform: translate(-50%, 0);
  }
}

.publish-input {
  font-size: 17px;
  width: 100%;
  padding: 10px 0;
}

.publish-textarea {
  height: 160px;
  padding: 0;
  border: 0;
}

.zj-reply {
  p {
    word-break: break-all;
  }

  p + p {
    margin: 15px 0 0;
  }

  .mbui-uploader {
    padding: 15px 0 0;
  }
}

.mall-tle {
  @extend %flex;
  @extend %flex-s-b;
  line-height: 18px;

  &-txt {
    line-height: 18px;
    padding: 0 0 0 12px;
    border-left: 4px solid $primary;
  }

  &-more {
    font-size: 12px;
    color: #c9c9c9;
  }
}

.mall-list {
  padding: 5px;
}

.mall-item {
  padding: 5px;

  &-inner {
    background: #fcfcfc;
    border: 1px solid #ddd;
  }

  &-img {
    padding-top: 100%;
  }

  &-bd {
    padding: 7px;

    &__tle {
      @extend %ellipsis;
    }

    &__price {
      font-size: 12px;
      color: #ff3535;

      .mibp-num {
        font-size: 16px;
      }
    }
  }
}

.goods-info {
  @extend %flex;
  padding: 15px 0 10px 12px;

  &-bd {
    @extend %flex1;
    overflow: hidden;
  }

  &-tle {
    line-height: 1.2;
  }

  &-price {
    color: #ff3535;

    &__num {
      font-size: 22px;
    }
  }

  &-fav {
    position: relative;
    display: block;
    padding: 0 40px;
    text-align: center;

    &.active {
      color: $primary;
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 40px;
      background: $colorBorder;
      content: "";
    }
  }
}

.goods-detail {
  padding: 15px 12px;

  &-con {
    p + p {
      margin: 15px 0 0;
    }
  }
}

.goods-meta {
  font-size: 12px;
  color: #929292;
}

.order .mod-goods-media {
  padding: 7px;
  background: #f5f5f5;
}

.user-hd {
  background: url("../images/user-hd-bg.png") no-repeat right bottom;
  background-size: contain;
}

.record-item {
  position: relative;

  &:not(:first-of-type) {
    margin: 10px 0 0;
  }

  &-media {
    &__img {
      width: 145px;
      height: 95px;
    }
  }

  &-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}

.jf-item {
  position: relative;

  &:not(:first-of-type) {
    @extend %border-t;
  }
}

.lecture {
  &-item {
    border: 1px solid #e3e3e3;
    border-radius: 3px;

    &:not(:first-of-type) {
      margin: 10px 0 0;
    }
  }
}

.article {
  &-bd {
    img {
      display: block;
      margin: 20px 0;
    }

    p {
      margin: 25px 0;
      font-size: 13px;
    }
  }
}

.pri-bg {
  position: absolute;
  top: 44px;
  left: 0;
  right: 0;
  height: 110px;
  background: $primary;
}

.vip-card {
  position: relative;
  border-radius: 10px;
  min-height: 160px;
  overflow: hidden;
  background: linear-gradient(to right bottom, #e3be82, #f1d9a4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

  &:before,
  &:after {
    position: absolute;
    top: -30px;
    left: -50px;
    width: 250px;
    height: 120px;
    border-bottom-right-radius: 100%;
    // box-shadow: 0 0 20px rgba(0, 0, 0, .05);
    transform: rotate(-10deg);
    background: linear-gradient(to right bottom, transparent, rgba(255, 255, 255, 0.15));
    content: "";
  }

  &:after {
    top: -10px;
    left: -10px;
  }

  &-tle {
    text-shadow: 0 1px 1px rgba(144, 111, 44, 0.75);
  }

  .mbui-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    line-height: 26px;
    padding: 0 16px;
    background: #bf9b52;
  }
}

.vcard-list {
  position: relative;
  z-index: 1;
}

.vcard-item {
  background: linear-gradient(to right bottom, #4697ff, #89bbff);
  border-radius: 10px;

  &:not(:first-of-type) {
    margin: 10px 0 0;
  }

  &-tle {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }

  .mbui-btn {
    line-height: 26px;
    padding: 0 16px;
  }

  &--info {
    background: linear-gradient(to right bottom, #b4b6c5, #c9cedc);

    .mbui-btn {
      background: #828699;
    }
  }

  &--vip {
    background: linear-gradient(to right bottom, #e3bd82, #f1d8a5);

    .mbui-btn {
      background: #bf9b52;
    }
  }
}

.huodong-list {
  .mbui-media-item {
    &:not(:first-of-type) {
      margin: 10px 0 0;
      padding: 10px 0 0;
    }

    &__img {
      width: 124px;
      height: 93px;
      border-radius: 3px;
      overflow: hidden;
    }
  }
}

.huodong-item {
  &-price {
    color: #ff3535;
  }
}

.huodong-info {
  position: relative;
  z-index: 1;
  margin: -30px 0 0;

  &-ads {
    color: #878787;
    border-top: 1px dotted #c4c4c4;
  }
}

.huodong-detail {
  &-con {
    padding: 0 15px;

    p {
      font-size: 12px;
      color: #696969;

      & + p {
        margin: 15px 0 0;
      }
    }
  }
}

.yq-wrap {
  position: relative;
  z-index: 1;
  margin: -75px 0 0;
}

.yq-box {
  position: relative;
  margin: 60px 0 0;

  .yq-tle {
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.yq-tle {
  &-angle {
    position: relative;
    display: inline-block;
    width: 13px;
    height: 24px;
    background: #ff5400;
    vertical-align: middle;

    &:before,
    &:after {
      position: absolute;
      top: 0;
      left: -5px;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 12px solid #ff5400;
      content: "";
    }

    &:after {
      top: auto;
      bottom: 0;
      border-top: 0;
      border-bottom: 12px solid #ff5400;
    }

    &--reverse {
      transform: rotate(-180deg);
    }
  }

  &-txt {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    padding: 0 20px;
    background: #ff5400;
    border-radius: 5px;
    vertical-align: middle;
  }
}

.zhibo-item {
  position: relative;
  display: block;
  padding: 12px;
  background: #fff;

  &:not(:first-of-type) {
    margin: 10px 0 0;
  }

  &-img {
    position: relative;
    padding-top: 50%;
    border-radius: 5px;
    overflow: hidden;
  }

  &-tle {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
  }

  &-tag {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    height: 24px;
    line-height: 24px;
    padding: 0 5px 0 16px;
    background: $primary;
    font-size: 12px;
    color: #fff;
    border-radius: 20px;

    &:after {
      position: absolute;
      top: 50%;
      left: 5px;
      display: block;
      width: 6px;
      height: 6px;
      background: #fff;
      border-radius: 50%;
      content: "";
      transform: translate(0, -50%);
    }
  }

  &--yg {
    padding: 0;

    .zhibo-item-tag {
      left: auto;
      top: 10px;
      right: 10px;
    }

    .zhibo-item-tle {
      bottom: 45px;
      color: #fff;
      background: none;
    }

    .mod-user-media {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 5px 10px;
      color: #fff;
      background: rgba(0, 0, 0, 0.5);
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      &__main {
        .mumm-name {
          line-height: 1.2em;
        }

        .mumm-name-inner {
          font-size: 12px;
        }

        .mumm-txt {
          margin: 0;
          color: #fff;
        }
      }
    }
  }

  .icon-play2 {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
  }
}

.jiangshi {
  position: relative;
  padding-top: 26%;
  border-radius: 5px;
  overflow: hidden;

  &__inner {
    position: absolute;
    top: 23%;
    left: 8%;
    color: #fff;
  }
}

.nav-menu {
  margin: 0 0 -15px 0;

  &__item {
    margin: 0 0 15px 0;
  }
}

.quan {
  &__item {
    position: relative;
    display: flex;
    background: linear-gradient(to right, #35bbff, #009bf7);
    border-radius: 5px;
    overflow: hidden;
    // box-shadow: 0 1px 8px rgba(0, 155, 247, .45);
    // filter: drop-shadow(0 1px 8px rgba(0, 155, 247, .45));

    &:after {
      position: absolute;
      top: 5px;
      right: -4px;
      width: 8px;
      bottom: 5px;
      background: url("../images/icon-dot.png") repeat-y;
      content: "";
    }

    &:not(:first-of-type) {
      margin: 20px 0 0;
    }

    &__field {
      position: relative;
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      padding: 20px 0;
      overflow: hidden;
      text-align: center;
      color: #fff;

      &:after {
        position: absolute;
        top: 10px;
        right: 0;
        width: 1px;
        bottom: 10px;
        background: #56c0ff;
        content: "";
      }
    }

    &__side {
      position: relative;
      width: 110px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      &:before,
      &:after {
        position: absolute;
        left: -5px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #fafafa;
        content: "";
      }

      &:before {
        top: -5px;
      }

      &:after {
        bottom: -5px;
      }

      .mbui-btn {
        color: $primary;
        background: linear-gradient(#fcfeff, #c6ebff);
        box-shadow: 0 1px 3px rgba(0, 134, 213, 0.75);
      }
    }

    &__tle {
      font-size: 22px;
      line-height: 1.5em;
      font-weight: 700;
      max-width: 8em;
      @extend %ellipsis;
    }

    &__txt {
      display: inline-block;
      width: 156px;
      height: 20px;
      line-height: 20px;
      padding: 0 5px;
      margin: 5px 0 0;
      font-size: 12px;
      background: #66cafe;
      @extend %ellipsis;
    }
  }
}

.zb-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 750px;
  margin: 0 auto;
  z-index: 999;
  height: 100%;
}

.zb-bg,
.zb-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 888;
}

.zb-bg {
  filter: blur(4px);
}

.zb-mask {
  z-index: 900;
  background: rgba(0, 0, 0, 0.85);

  .mbui-swiper-notice-wrap {
    background: rgba(255, 255, 255, 0.48);
    border-radius: 30px;
  }

  .mbui-swiper-notice__link {
    color: #fff;
  }

  .mbui-countdown {
    span {
      padding: 0;
      color: $primary;
      background: none;
    }
  }
}

.zb-status {
  padding-top: 85px;
}

.video-poster {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 100%;
}

.video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-container {
  .mbui-media-item {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
  }
}

.chat {
  position: fixed;
  bottom: 50px;
  left: 12px;
  right: 12px;
  z-index: 1200;
  overflow: hidden;

  &__list {
    position: relative;
    max-height: 170px;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  &__item {
    &:not(:first-of-type) {
      margin: 10px 0 0;
    }

    &__inner {
      display: inline-block;
      max-width: 20em;
      padding: 7px 10px;
      background: rgba(255, 255, 255, 0.4);
      border-radius: 4px;
      word-break: break-all;
    }

    &__name {
      color: $primary;
    }
  }
}

@media (min-width: 375px) {
  .chat {
    &__list {
      max-height: 260px;
    }
  }
}

.teacher {
  &-wrap {
    padding: 10px;
    overflow: hidden;
  }

  &-list {
    margin: 0 -10px -10px 0;
  }

  &-item {
    float: left;
    width: calc(50% - 10px);
    margin: 0 10px 10px 0;
    border-radius: 5px;
    overflow: hidden;

    &__img {
      padding-top: 70%;
    }

    &__bd {
      padding: 10px;
      background: #fff;
    }

    &__tle {
      padding: 0 0 0 5px;
      line-height: 1.1;
      border-left: 2px solid $primary;
    }

    &__txt {
      margin: 5px 0 0;
      font-size: 12px;
      line-height: 1.4;
      height: 2.8em;
      color: #8d8d8d;
      @extend %ellipsis-lines-2;
    }
  }
}

.money-total {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.custom-swiper {
  margin: -30px 0 0;

  .mbui-swiper-tab-tle {
    border-radius: 5px;

    &:after {
      content: none;
    }

    .swiper-slide {
      &:not(:first-child) {
        &:before {
          position: absolute;
          top: 50%;
          left: 0;
          width: 1px;
          height: 30px;
          background: #dcdcdc;
          transform: translate(0, -50%);
          content: "";
        }
      }
    }

    .swiper-slide.active:after {
      width: 40px;
      height: 4px;
      bottom: 4px;
    }
  }

  &-container {
    padding: 0  10px;
    margin: 10px 0 0;
    border-radius: 5px;
    background: #fff;
  }
}


.buy-record {
  &__item {
    display: flex;
    padding: 13px 0;

    &:not(:first-child) {
      border-top: 1px dashed #cfcfcf;
    }

    &__bd {
      flex: 1;
      overflow: hidden;
    }

    &__tle {
      font-weight: 400;
    }

    &__txt {
      font-size: 12px;
      color: #989898;
    }
  }
}

.user-list {
  .mbui-media-item {
    padding: 13px 0;

    &:not(:first-child) {
      border-top: 1px dashed #cfcfcf;
    }
  }
}

.product {
  &-item {
    float: left;
    width: 33.333333%;
    padding: 10px 0;
    text-align: center;

    &__img {
      position: relative;
      padding-top: 100%;
    }

    &__imgel {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &__tle {
      @extend %ellipsis;
      font-size: 12px;
      height: 26px;
      line-height: 26px;
      color: #636363;
    }
  }
}

.brand {
  &-info,
  &-detail {
    background: #fff;
    border-radius: 5px;
  }

  &-info {
    padding: 13px 15px;

    &__logo {
      max-height: 20px;
    }
  
    &__txt {
      margin: 10px 0 0;
      font-size: 12px;
    }
  }  

  &-detail {
    &__tle {
      padding: 0 15px;
      font-weight: 700;
      border-bottom: 1px solid #e5e5e5;

      &__txt {
        position: relative;
        display: inline-block;
        padding: 10px 0;

        &:after {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 4px;
          background: $primary;
          border-radius: 10px;
          content: "";
        }
      }
    }

    &__bd {
      padding: 8px;
    }
  }
}

.video-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  background: rgba(0,0,0,.92);

  &--show {
    display: flex;
  }

  &__bd {
    font-size: 12px;
    color: #fff;
    text-align: center;

    .mbui-icon {
      width: 1.4em;
      height: 1.4em;
    }
  }

  &__txt {
    color: #989898;
  }
}