@charset "utf-8";

$primary: #009bf7;
$primaryLight: #e1f3fe;
$second: #caab75;
$danger: #ff3535;
$colorBorder: #e5e5e5;

@import 'd:/wamp/www/mobile-docs/src/sass/sandal/function';

.course-video {
  video {
    width: 100%;
    height: 200px;
  }
}

.course-detail {
  position: relative;
  z-index: 1;
  margin: -30px 0 0;
}

.course-info {
  &-tle {
    position: relative;
    padding: 0 0 0 30px;
    font-size: 13px;
    font-weight: 400;
    color: #9e9e9e;

    &:after {
      position: absolute;
      top: 7px;
      left: 0;
      width: 19px;
      height: 254px;
      background: url("../images/tle-line.png") no-repeat;
      background-size: 19px auto;
      content: "";
    }

    &--no-bg {
      padding: 0;

      &:after {
        content: none;
      }
    }
  }

  &-txt {
    font-size: 13px;
    padding: 15px 0 0 10px;
  }
}

.recom-list {
  padding: 0 0 12px 0;
  overflow: hidden;
  white-space: nowrap;
  overflow-x: auto;
  margin: 0 -10px 0 0;
  -webkit-overflow-scrolling: touch;
}

.recom-item {
  position: relative;
  display: inline-block;
  max-width: 135px;
  padding: 10px 5px 25px;
  margin: 0 10px 0 0;
  text-align: center;
  border: 1px solid $colorBorder;
  border-radius: 3px;

  &__img {
    width: 47px;
    height: 47px;
    border-radius: 50%;
  }

  .mbui-btn {
    position: absolute;
    bottom: -12px;
    left: 50%;
    height: 24px;
    line-height: 24px;
    transform: translate(-50%, 0);
  }
}

.publish-input {
  font-size: 17px;
  width: 100%;
  padding: 10px 0;
}

.publish-textarea {
  height: 160px;
  padding: 0;
  border: 0;
}

.zj-reply {
  p {
     word-break: break-all;
  }

  p + p {
    margin: 15px 0 0;
  }

  .mbui-uploader {
    padding: 15px 0 0;
  }
}

.mall-tle {
  @extend %flex;
  @extend %flex-s-b;
  line-height: 18px;

  &-txt {
    line-height: 18px;
    padding: 0 0 0 12px;
    border-left: 4px solid $primary;
  }

  &-more {
    font-size: 12px;
    color: #c9c9c9;
  }
}

.mall-list {
  padding: 5px;
}

.mall-item {
  padding: 5px;
  
  &-inner {
    background: #fcfcfc;
    border: 1px solid #ddd;
  }

  &-img {
    padding-top: 100%;
  }

  &-bd {
    padding: 7px;

    &__tle {
      @extend %ellipsis;
    }

    &__price {
      font-size: 12px;
      color: #ff3535;

      .mibp-num {
        font-size: 16px;
      }
    }
  }
}

.goods-info {
  @extend %flex;
  padding: 15px 0 10px 12px;

  &-bd {
    @extend %flex1;
    overflow: hidden;
  }

  &-tle {
    line-height: 1.2;
  }

  &-price {
    color: #ff3535;

    &__num {
      font-size: 22px;
    }
  }

  &-fav {
    position: relative;
    display: block;
    padding: 0 40px;
    text-align: center;

    &.active {
      color: $primary;
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 40px;
      background: $colorBorder;
      content: "";
    }
  }
}

.goods-detail {
  padding: 15px 12px;

  &-con {
    p + p {
      margin: 15px 0 0;
    }
  }
}

.goods-meta {
  font-size: 12px;
  color: #929292;
}

.order .mod-goods-media {
  padding: 7px;
  background: #f5f5f5;
}

.user-hd {
  background: url("../images/user-hd-bg.png") no-repeat right bottom;
  background-size: contain;
}

.record-item {
  position: relative;

  &:not(:first-of-type) {
    margin: 10px 0 0;
  }

  &-media {
    &__img {
      width: 145px;
      height: 95px;
    }
  }

  &-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}

.jf-item {
  position: relative;

  &:not(:first-of-type) {
    @extend %border-t;
  }
}

.lecture {
  &-item {
    border: 1px solid #e3e3e3;
    border-radius: 3px;

    &:not(:first-of-type) {
      margin: 10px 0 0;
    }
  }
}

.article {
  &-bd {
    img {
      display: block;
      margin: 20px 0;
    }

    p {
      margin: 25px 0;
      font-size: 13px;
    }
  }
}

.pri-bg {
  position: absolute;
  top: 44px;
  left: 0;
  right: 0;
  padding-top: 26%;
  background: $primary;
}

.vip-card {
  position: relative;
  border-radius: 10px;
  min-height: 160px;
  overflow: hidden;
  background: linear-gradient(to right bottom, #e3be82, #f1d9a4);
  box-shadow: 0 0 10px rgba(0, 0, 0, .05);

  &:before,
  &:after {
    position: absolute;
    top: -30px;
    left: -50px;
    width: 250px;
    height: 120px;
    border-bottom-right-radius: 100%;
    // box-shadow: 0 0 20px rgba(0, 0, 0, .05);
    transform: rotate(-10deg);
    background: linear-gradient(to right bottom, transparent, rgba(255, 255, 255, .15));
    content: "";
  }

  &:after {
    top: -10px;
    left: -10px;
  }

  &-tle {
    text-shadow: 0 1px 1px rgba(144, 111, 44, .75);
  }

  .mbui-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    line-height: 26px;
    padding: 0 16px;
    background: #bf9b52;
  }
}

.vcard-item {
  background: linear-gradient(to right bottom, #4697ff, #89bbff);
  border-radius: 10px;

  &:not(:first-of-type) {
    margin: 10px 0 0;
  }

  &-tle {
    text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  }

  .mbui-btn {
    line-height: 26px;
    padding: 0 16px;
  }

  &--info {
    background: linear-gradient(to right bottom, #b4b6c5, #c9cedc);

    .mbui-btn {
      background: #828699;
    }
  }

  &--vip {
    background: linear-gradient(to right bottom, #e3bd82, #f1d8a5);

    .mbui-btn {
      background: #bf9b52;
    }
  }
}

.huodong-list {
  .mbui-media-item {
    &:not(:first-of-type) {
      margin: 10px 0 0;
      padding: 10px 0 0;
    }

    &__img {
      width: 124px;
      height: 93px;
      border-radius: 3px;
      overflow: hidden;
    }
  }
}

.huodong-item {
  &-price {
    color: #ff3535;
  }
}

.huodong-info {
  position: relative;
  z-index: 1;
  margin: -30px 0 0;

  &-ads {
    color: #878787;
    border-top: 1px dotted #c4c4c4;
  }
}

.huodong-detail {
  &-con {
    padding: 0 15px;

    p {
      font-size: 12px;
      color: #696969;

      & + p {
        margin: 15px 0 0;
      }
    }
  }
}