@charset "UTF-8";
body {
  background: #f6f9fa;
}

/* 小图标 */
.icon {
  display: inline-block;
  vertical-align: middle;
  background: url("../images/icon-sprites.png") no-repeat top left;
  zoom: .5;
}

.icon-home {
  background-position: 0px 0px;
  width: 36px;
  height: 36px;
}

.active .icon-home {
  background-position: 0px -46px;
  width: 36px;
  height: 35px;
}

.icon-desktop {
  background-position: 0px -91px;
  width: 34px;
  height: 37px;
}

.active .icon-desktop {
  background-position: 0px -138px;
  width: 34px;
  height: 38px;
}

.icon-buy {
  background-position: 0px -186px;
  width: 30px;
  height: 33px;
}

.active .icon-buy {
  background-position: 0px -229px;
  width: 30px;
  height: 34px;
}

.icon-my {
  background-position: 0px -273px;
  width: 47px;
  height: 34px;
}

.active .icon-my {
  background-position: 0px -317px;
  width: 48px;
  height: 34px;
}

.icon-qianbao {
  background-position: 0px -361px;
  width: 40px;
  height: 28px;
}

.icon-msg {
  background-position: 0px -399px;
  width: 42px;
  height: 34px;
}

.icon-money {
  background-position: 0px -443px;
  width: 36px;
  height: 38px;
}

.icon-search {
  background-position: 0px -491px;
  width: 31px;
  height: 31px;
}

.icon-search2 {
  background-position: 0px -532px;
  width: 34px;
  height: 34px;
}

.icon-article {
  background-position: 0px -576px;
  width: 106px;
  height: 106px;
}

.icon-video {
  background-position: 0px -692px;
  width: 106px;
  height: 106px;
}

.icon-ask {
  background-position: 0px -808px;
  width: 106px;
  height: 106px;
}

.icon-book {
  background-position: 0px -924px;
  width: 106px;
  height: 106px;
}

.icon-play {
  background-position: 0px -1040px;
  width: 12px;
  height: 14px;
}

.icon-gou {
  background-position: 0px -1064px;
  width: 14px;
  height: 12px;
}

.icon-man {
  background-position: 0px -1086px;
  width: 18px;
  height: 18px;
}

.icon-heart {
  background-position: 0px -1114px;
  width: 34px;
  height: 30px;
}

.icon-zan {
  background-position: 0px -1154px;
  width: 38px;
  height: 36px;
}

.icon-comment {
  background-position: 0px -1200px;
  width: 38px;
  height: 36px;
}

.icon-clock {
  background-position: 0px -1246px;
  width: 20px;
  height: 20px;
}

/* 标签 */
.mod-label {
  position: relative;
  display: inline-block;
  width: 28px;
  padding: 6px 0;
  font-size: 12px;
  color: #fff;
  text-align: center;
  background: #009bf7;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.mod-label:after {
  position: absolute;
  top: 0;
  right: -3px;
  width: 0;
  height: 0;
  border-right: 3px solid transparent;
  border-bottom: 5px solid #0078bf;
  content: "";
}

.mod-label--gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#5f8cff), to(#85b2ff));
  background: linear-gradient(#5f8cff, #85b2ff);
}

.mod-label--brown-gradient {
  padding: 4px 0;
  font-size: 10px;
  line-height: 12px;
  background: -webkit-gradient(linear, left top, left bottom, from(#d7b581), to(#e2d4bf));
  background: linear-gradient(#d7b581, #e2d4bf);
}

.mod-label--brown-gradient:after {
  border-bottom-color: #88704b;
}

.mod-tag {
  display: inline-block;
  height: 20px;
  line-height: 18px;
  padding: 0 5px;
  font-size: 12px;
  color: #fff;
  border-radius: 15px;
  background: #009bf7;
  border: 1px solid #009bf7;
}

.mod-tag--brown {
  color: #a98a54;
  border-color: #e5ca9a;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9e6cb), to(#e5ca9a));
  background: linear-gradient(#f9e6cb, #e5ca9a);
}

.mod-tag--blue {
  border-color: #3d7ca1;
  background: -webkit-gradient(linear, left top, left bottom, from(#5595ba), to(#3d7ca1));
  background: linear-gradient(#5595ba, #3d7ca1);
}

.mod-tag__inner {
  display: inline-block;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

/* swiper tab */
.mbui-swiper-tab-tle--auto .swiper-slide {
  width: auto;
  padding: 0 10px;
  margin-right: 30px;
}

.mbui-swiper-tab-tle--dark {
  background: #2b2c34;
  color: #9b9ca5;
}

.mbui-swiper-tab-tle .swiper-slide.active:after {
  left: 50%;
  right: auto;
  width: 30px;
  height: 3px;
  border-radius: 10px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

/* 暂无数据 */
.mod-no-data {
  padding: 30px;
  font-size: 12px;
  color: #999;
  text-align: center;
}

/* 搜索 */
.mod-search-block {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  background: #eee;
  border-radius: 20px;
  text-align: center;
}

.mod-search-block .icon {
  margin: 0 10px 0 0;
}

.mod-search-block__txt {
  font-size: 12px;
  color: #919191;
}

.mod-search-block__input {
  display: none;
}

.mod-search-block.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.mod-search-block.active .mod-search-block__txt {
  display: none;
}

.mod-search-block.active .mod-search-block__input {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
}
