.kc-about p {
  margin: 30px 0 0;
  font-size: 13px;
  color: #646467;
}

.user-menu .mbui-line-item {
  padding: 7px 0;
}

.user-menu .mbui-line-item .item-icon {
  width: 40px;
  padding: 0 0 0 5px;
  margin: -3px 0 0;
}
