.mall-item-bd__tle, .quan__item__tle, .quan__item__txt, .product-item__tle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.teacher-item__txt {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.jf-item:not(:first-of-type) {
  position: relative;
}

.jf-item:not(:first-of-type)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  right: 0;
  height: 0;
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
  border-top: 1px solid #e5e5e5;
  z-index: 1;
}

.mall-tle, .goods-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.goods-info-bd {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.mall-tle {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.course-video video {
  width: 100%;
  height: 200px;
}

.course-detail {
  position: relative;
  z-index: 1;
  margin: -30px 0 0;
}

.course-info-tle {
  position: relative;
  padding: 0 0 0 30px;
  font-size: 13px;
  font-weight: 400;
  color: #9e9e9e;
}

.course-info-tle:after {
  position: absolute;
  top: 7px;
  left: 0;
  width: 19px;
  height: 254px;
  background: url("../images/tle-line.png") no-repeat;
  background-size: 19px auto;
  content: "";
}

.course-info-tle--no-bg {
  padding: 0;
}

.course-info-tle--no-bg:after {
  content: none;
}

.course-info-txt {
  font-size: 13px;
  padding: 15px 0 0 10px;
}

.recom-list {
  padding: 0 0 12px 0;
  overflow: hidden;
  white-space: nowrap;
  overflow-x: auto;
  margin: 0 -10px 0 0;
  -webkit-overflow-scrolling: touch;
}

.recom-item {
  position: relative;
  display: inline-block;
  max-width: 135px;
  padding: 10px 5px 25px;
  margin: 0 10px 0 0;
  text-align: center;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.recom-item__img {
  width: 47px;
  height: 47px;
  border-radius: 50%;
}

.recom-item .mbui-btn {
  position: absolute;
  bottom: -12px;
  left: 50%;
  height: 24px;
  line-height: 24px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.publish-input {
  font-size: 17px;
  width: 100%;
  padding: 10px 0;
}

.publish-textarea {
  height: 160px;
  padding: 0;
  border: 0;
}

.zj-reply p {
  word-break: break-all;
}

.zj-reply p + p {
  margin: 15px 0 0;
}

.zj-reply .mbui-uploader {
  padding: 15px 0 0;
}

.mall-tle {
  line-height: 18px;
}

.mall-tle-txt {
  line-height: 18px;
  padding: 0 0 0 12px;
  border-left: 4px solid #009bf7;
}

.mall-tle-more {
  font-size: 12px;
  color: #c9c9c9;
}

.mall-list {
  padding: 5px;
}

.mall-item {
  padding: 5px;
}

.mall-item-inner {
  background: #fcfcfc;
  border: 1px solid #ddd;
}

.mall-item-img {
  padding-top: 100%;
}

.mall-item-bd {
  padding: 7px;
}

.mall-item-bd__price {
  font-size: 12px;
  color: #ff3535;
}

.mall-item-bd__price .mibp-num {
  font-size: 16px;
}

.goods-info {
  padding: 15px 0 10px 12px;
}

.goods-info-bd {
  overflow: hidden;
}

.goods-info-tle {
  line-height: 1.2;
}

.goods-info-price {
  color: #ff3535;
}

.goods-info-price__num {
  font-size: 22px;
}

.goods-info-fav {
  position: relative;
  display: block;
  padding: 0 40px;
  text-align: center;
}

.goods-info-fav.active {
  color: #009bf7;
}

.goods-info-fav:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 40px;
  background: #e5e5e5;
  content: "";
}

.goods-detail {
  padding: 15px 12px;
}

.goods-detail-con p + p {
  margin: 15px 0 0;
}

.goods-meta {
  font-size: 12px;
  color: #929292;
}

.order .mod-goods-media {
  padding: 7px;
  background: #f5f5f5;
}

.user-hd {
  background: url("../images/user-hd-bg.png") no-repeat right bottom;
  background-size: contain;
}

.record-item {
  position: relative;
}

.record-item:not(:first-of-type) {
  margin: 10px 0 0;
}

.record-item-media__img {
  width: 145px;
  height: 95px;
}

.record-item-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.jf-item {
  position: relative;
}

.lecture-item {
  border: 1px solid #e3e3e3;
  border-radius: 3px;
}

.lecture-item:not(:first-of-type) {
  margin: 10px 0 0;
}

.article-bd img {
  display: block;
  margin: 20px 0;
}

.article-bd p {
  margin: 25px 0;
  font-size: 13px;
}

.pri-bg {
  position: absolute;
  top: 44px;
  left: 0;
  right: 0;
  height: 110px;
  background: #009bf7;
}

.vip-card {
  position: relative;
  border-radius: 10px;
  min-height: 160px;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right bottom, from(#e3be82), to(#f1d9a4));
  background: linear-gradient(to right bottom, #e3be82, #f1d9a4);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.vip-card:before, .vip-card:after {
  position: absolute;
  top: -30px;
  left: -50px;
  width: 250px;
  height: 120px;
  border-bottom-right-radius: 100%;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  background: -webkit-gradient(linear, left top, right bottom, from(transparent), to(rgba(255, 255, 255, 0.15)));
  background: linear-gradient(to right bottom, transparent, rgba(255, 255, 255, 0.15));
  content: "";
}

.vip-card:after {
  top: -10px;
  left: -10px;
}

.vip-card-tle {
  text-shadow: 0 1px 1px rgba(144, 111, 44, 0.75);
}

.vip-card .mbui-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  line-height: 26px;
  padding: 0 16px;
  background: #bf9b52;
}

.vcard-list {
  position: relative;
  z-index: 1;
}

.vcard-item {
  background: -webkit-gradient(linear, left top, right bottom, from(#4697ff), to(#89bbff));
  background: linear-gradient(to right bottom, #4697ff, #89bbff);
  border-radius: 10px;
}

.vcard-item:not(:first-of-type) {
  margin: 10px 0 0;
}

.vcard-item-tle {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.vcard-item .mbui-btn {
  line-height: 26px;
  padding: 0 16px;
}

.vcard-item--info {
  background: -webkit-gradient(linear, left top, right bottom, from(#b4b6c5), to(#c9cedc));
  background: linear-gradient(to right bottom, #b4b6c5, #c9cedc);
}

.vcard-item--info .mbui-btn {
  background: #828699;
}

.vcard-item--vip {
  background: -webkit-gradient(linear, left top, right bottom, from(#e3bd82), to(#f1d8a5));
  background: linear-gradient(to right bottom, #e3bd82, #f1d8a5);
}

.vcard-item--vip .mbui-btn {
  background: #bf9b52;
}

.huodong-list .mbui-media-item:not(:first-of-type) {
  margin: 10px 0 0;
  padding: 10px 0 0;
}

.huodong-list .mbui-media-item__img {
  width: 124px;
  height: 93px;
  border-radius: 3px;
  overflow: hidden;
}

.huodong-item-price {
  color: #ff3535;
}

.huodong-info {
  position: relative;
  z-index: 1;
  margin: -30px 0 0;
}

.huodong-info-ads {
  color: #878787;
  border-top: 1px dotted #c4c4c4;
}

.huodong-detail-con {
  padding: 0 15px;
}

.huodong-detail-con p {
  font-size: 12px;
  color: #696969;
}

.huodong-detail-con p + p {
  margin: 15px 0 0;
}

.yq-wrap {
  position: relative;
  z-index: 1;
  margin: -75px 0 0;
}

.yq-box {
  position: relative;
  margin: 60px 0 0;
}

.yq-box .yq-tle {
  position: absolute;
  top: -12px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.yq-tle-angle {
  position: relative;
  display: inline-block;
  width: 13px;
  height: 24px;
  background: #ff5400;
  vertical-align: middle;
}

.yq-tle-angle:before, .yq-tle-angle:after {
  position: absolute;
  top: 0;
  left: -5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 12px solid #ff5400;
  content: "";
}

.yq-tle-angle:after {
  top: auto;
  bottom: 0;
  border-top: 0;
  border-bottom: 12px solid #ff5400;
}

.yq-tle-angle--reverse {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.yq-tle-txt {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  padding: 0 20px;
  background: #ff5400;
  border-radius: 5px;
  vertical-align: middle;
}

.zhibo-item {
  position: relative;
  display: block;
  padding: 12px;
  background: #fff;
}

.zhibo-item:not(:first-of-type) {
  margin: 10px 0 0;
}

.zhibo-item-img {
  position: relative;
  padding-top: 50%;
  border-radius: 5px;
  overflow: hidden;
}

.zhibo-item-tle {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.zhibo-item-tag {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  height: 24px;
  line-height: 24px;
  padding: 0 5px 0 16px;
  background: #009bf7;
  font-size: 12px;
  color: #fff;
  border-radius: 20px;
}

.zhibo-item-tag:after {
  position: absolute;
  top: 50%;
  left: 5px;
  display: block;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  content: "";
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.zhibo-item--yg {
  padding: 0;
}

.zhibo-item--yg .zhibo-item-tag {
  left: auto;
  top: 10px;
  right: 10px;
}

.zhibo-item--yg .zhibo-item-tle {
  bottom: 45px;
  color: #fff;
  background: none;
}

.zhibo-item--yg .mod-user-media {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px 10px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.zhibo-item--yg .mod-user-media__main .mumm-name {
  line-height: 1.2em;
}

.zhibo-item--yg .mod-user-media__main .mumm-name-inner {
  font-size: 12px;
}

.zhibo-item--yg .mod-user-media__main .mumm-txt {
  margin: 0;
  color: #fff;
}

.zhibo-item .icon-play2 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.jiangshi {
  position: relative;
  padding-top: 26%;
  border-radius: 5px;
  overflow: hidden;
}

.jiangshi__inner {
  position: absolute;
  top: 23%;
  left: 8%;
  color: #fff;
}

.nav-menu {
  margin: 0 0 -15px 0;
}

.nav-menu__item {
  margin: 0 0 15px 0;
}

.quan__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, right top, from(#35bbff), to(#009bf7));
  background: linear-gradient(to right, #35bbff, #009bf7);
  border-radius: 5px;
  overflow: hidden;
}

.quan__item:after {
  position: absolute;
  top: 5px;
  right: -4px;
  width: 8px;
  bottom: 5px;
  background: url("../images/icon-dot.png") repeat-y;
  content: "";
}

.quan__item:not(:first-of-type) {
  margin: 20px 0 0;
}

.quan__item__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
  overflow: hidden;
  text-align: center;
  color: #fff;
}

.quan__item__field:after {
  position: absolute;
  top: 10px;
  right: 0;
  width: 1px;
  bottom: 10px;
  background: #56c0ff;
  content: "";
}

.quan__item__side {
  position: relative;
  width: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.quan__item__side:before, .quan__item__side:after {
  position: absolute;
  left: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fafafa;
  content: "";
}

.quan__item__side:before {
  top: -5px;
}

.quan__item__side:after {
  bottom: -5px;
}

.quan__item__side .mbui-btn {
  color: #009bf7;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfeff), to(#c6ebff));
  background: linear-gradient(#fcfeff, #c6ebff);
  -webkit-box-shadow: 0 1px 3px rgba(0, 134, 213, 0.75);
          box-shadow: 0 1px 3px rgba(0, 134, 213, 0.75);
}

.quan__item__tle {
  font-size: 22px;
  line-height: 1.5em;
  font-weight: 700;
  max-width: 8em;
}

.quan__item__txt {
  display: inline-block;
  width: 156px;
  height: 20px;
  line-height: 20px;
  padding: 0 5px;
  margin: 5px 0 0;
  font-size: 12px;
  background: #66cafe;
}

.zb-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 750px;
  margin: 0 auto;
  z-index: 999;
  height: 100%;
}

.zb-bg,
.zb-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 888;
}

.zb-bg {
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

.zb-mask {
  z-index: 900;
  background: rgba(0, 0, 0, 0.85);
}

.zb-mask .mbui-swiper-notice-wrap {
  background: rgba(255, 255, 255, 0.48);
  border-radius: 30px;
}

.zb-mask .mbui-swiper-notice__link {
  color: #fff;
}

.zb-mask .mbui-countdown span {
  padding: 0;
  color: #009bf7;
  background: none;
}

.zb-status {
  padding-top: 85px;
}

.video-poster {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 100%;
}

.video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.video-container .mbui-media-item {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1001;
}

.chat {
  position: fixed;
  bottom: 50px;
  left: 12px;
  right: 12px;
  z-index: 1200;
  overflow: hidden;
}

.chat__list {
  position: relative;
  max-height: 170px;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.chat__item:not(:first-of-type) {
  margin: 10px 0 0;
}

.chat__item__inner {
  display: inline-block;
  max-width: 20em;
  padding: 7px 10px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  word-break: break-all;
}

.chat__item__name {
  color: #009bf7;
}

@media (min-width: 375px) {
  .chat__list {
    max-height: 260px;
  }
}

.teacher-wrap {
  padding: 10px;
  overflow: hidden;
}

.teacher-list {
  margin: 0 -10px -10px 0;
}

.teacher-item {
  float: left;
  width: calc(50% - 10px);
  margin: 0 10px 10px 0;
  border-radius: 5px;
  overflow: hidden;
}

.teacher-item__img {
  padding-top: 70%;
}

.teacher-item__bd {
  padding: 10px;
  background: #fff;
}

.teacher-item__tle {
  padding: 0 0 0 5px;
  line-height: 1.1;
  border-left: 2px solid #009bf7;
}

.teacher-item__txt {
  margin: 5px 0 0;
  font-size: 12px;
  line-height: 1.4;
  height: 2.8em;
  color: #8d8d8d;
}

.money-total {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.custom-swiper {
  margin: -30px 0 0;
}

.custom-swiper .mbui-swiper-tab-tle {
  border-radius: 5px;
}

.custom-swiper .mbui-swiper-tab-tle:after {
  content: none;
}

.custom-swiper .mbui-swiper-tab-tle .swiper-slide:not(:first-child):before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 1px;
  height: 30px;
  background: #dcdcdc;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  content: "";
}

.custom-swiper .mbui-swiper-tab-tle .swiper-slide.active:after {
  width: 40px;
  height: 4px;
  bottom: 4px;
}

.custom-swiper-container {
  padding: 0  10px;
  margin: 10px 0 0;
  border-radius: 5px;
  background: #fff;
}

.buy-record__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 13px 0;
}

.buy-record__item:not(:first-child) {
  border-top: 1px dashed #cfcfcf;
}

.buy-record__item__bd {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
}

.buy-record__item__tle {
  font-weight: 400;
}

.buy-record__item__txt {
  font-size: 12px;
  color: #989898;
}

.user-list .mbui-media-item {
  padding: 13px 0;
}

.user-list .mbui-media-item:not(:first-child) {
  border-top: 1px dashed #cfcfcf;
}

.product-item {
  float: left;
  width: 33.333333%;
  padding: 10px 0;
  text-align: center;
}

.product-item__img {
  position: relative;
  padding-top: 100%;
}

.product-item__imgel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.product-item__tle {
  font-size: 12px;
  height: 26px;
  line-height: 26px;
  color: #636363;
}

.brand-info, .brand-detail {
  background: #fff;
  border-radius: 5px;
}

.brand-info {
  padding: 13px 15px;
}

.brand-info__logo {
  max-height: 20px;
}

.brand-info__txt {
  margin: 10px 0 0;
  font-size: 12px;
}

.brand-detail__tle {
  padding: 0 15px;
  font-weight: 700;
  border-bottom: 1px solid #e5e5e5;
}

.brand-detail__tle__txt {
  position: relative;
  display: inline-block;
  padding: 10px 0;
}

.brand-detail__tle__txt:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  background: #009bf7;
  border-radius: 10px;
  content: "";
}

.brand-detail__bd {
  padding: 8px;
}
